<!-- transactions.component.html -->
<app-navbar></app-navbar>

<div class="transactions-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Service Type</th>
        <th>Price</th>
        <th>Per For</th>
        <th>Per Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.client.name }}</td>
        <td>{{ transaction.date | date:'yyyy-MM-dd' }}</td>
        <td>{{ transaction.date | date:'shortTime' }}</td>
        <td>{{ transaction.service.name }}</td>
        <td>{{ transaction.amountPaid }}</td>
        <td>{{ transaction.percentageRecipient.name }}</td>
        <td>{{ transaction.percentageGiven }}%</td>
      </tr>
      <!-- Input Row -->
      <tr>
        <td><input [(ngModel)]="newTransaction.clientId"></td>
        <td><input type="date" [(ngModel)]="newTransaction.date"></td>
        <td><input type="time" [(ngModel)]="newTransaction.time"></td>
        <td><input [(ngModel)]="newTransaction.serviceId"></td>
        <td><input type="number" [(ngModel)]="newTransaction.amountPaid"></td>
        <td><input [(ngModel)]="newTransaction.percentageRecipientId"></td>
        <td><input type="number" [(ngModel)]="newTransaction.percentageGiven"></td>
      </tr>
    </tbody>
  </table>
  <button (click)="addTransaction()">Add Transaction</button>
</div>
