.transactions-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.1);
  background: #e0f7f1;
  font-family: 'Segoe UI', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #007a33;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

button {
  background-color: #004d00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #007a33;
}
