<div class="total-spent-card">
  <div class="chart-container">
    <ngx-charts-pie-chart
      [view]="view"
      [results]="chartData"
      [gradient]="gradient"
      [labels]="showLabels"
      [explodeSlices]="explodeSlices"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>

    <!-- Total income in the center -->
    <div class="total-center">
      <div>{{ getTranslation('charts.income') }}</div>
    </div>

    <div class="chart-legend">
      <div *ngFor="let item of chartData" class="chart-legend-item">
        <div class="legend-name">{{ item.name }}</div>
        <div class="legend-value">{{ item.value | currency:'ILS':'symbol':'1.0-0':'he-IL' }}</div>
      </div>
    </div>
  </div>
</div>
